{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Discussion{% endblock %}
{% block contentheading %}Discussions panel{% endblock %}
{% block maincontent %}
    {% block discussioncontent %}
        <ul>
            {% set count = namespace(value=0) %}
            {% for question in questions %}
                <li>
                    <td class="alignleft">
                        <div class="questiondiv">
                            <a href="/discussion/question?question={{ count.value }}">{{ question.title }}</a>
                        </div>
                    </td>
                </li>
                {% set count.value = count.value + 1 %}
            {% endfor %}
        </ul>
    {% endblock %}
{% endblock %}
