{% extends "base_logged_in.html" %}
{% block title %}{% block subtitle %}{% endblock %}Discussion{% endblock %}
{% block contentheading %}
    {{ question.title }}
{% endblock %}
{% block contentsubheading %}
    <small>Date: {{ question.tiempo }} Author: {{ question.autor }}</small>
{% endblock %}
{% block maincontent %}
    {% block discussioncontent %}
        <div class="questioncard">
            <div>
                <p style="color: black">{{ text }} Mensaje largo</p>
            </div>
        </div>
        <br>
        {% for answer in question.getChilds() %}
            <li>
                <div class="answercard">
                    <div>
                        <p style="color: black">{{ answer.texto }}</p>
                    </div>
                    <div>
                        <p style="color: black;">{{ answer.votes }}</p>
                    </div>
                </div>
                <ul style="margin-top: 0">
                    {% for comment in answer.getChilds() %}
                        <li>
                            <div class="commentcard">
                                <div>
                                    <p style="color: black">{{ comment.texto }}</p>
                                </div>
                                <div>
                                    <p style="color: black;">{{ answer.votes }}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    {% endblock %}
{% endblock %}
